html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;

}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/*.button{
   border-color:none;
   border-radius:10px;
}
.button-short{
    background-color: indianred;
}
.button-long {
    background-color: forestgreen;
}*/

.nav-item{
    margin-right: 25px;
}

button {
    border-radius: 10px;
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    cursor: pointer;
    padding: .1em .6em;
    border: none;
    transition: background-color 0.3s;
}

@keyframes pulse-red {
    0% {
        box-shadow: 0 0 0 0 rgba(233, 90, 73, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(233, 90, 73, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(233, 90, 73, 0);
    }
}

@keyframes pulse-green {
    0% {
        box-shadow: 0 0 0 0 rgba(59, 196, 107, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(59, 196, 107, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(59, 196, 107, 0);
    }
}

button[style*="#E95A49"]:hover {
    animation: pulse-red 1s infinite;
}

button[style*="#3bc46b"]:hover {
    animation: pulse-green 1s infinite;
}



.price {
    font-size: 24px;
    color: #0e0f1a;
    font-weight: bold;
    font-family:'Segoe UI Symbol';
}
.price-input{
    margin-top:20px;
}

#quantityInput{
    margin-top: 20px;
}





         